<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/<%= css%>" rel="stylesheet" />
    <script  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
    <title>Document</title>
  </head>
  <body>
    <%- include('header')%>
    <div class="main">
      <div id="message"></div>
        <% for (let i=0;i<products.length;i++) {%>
        <div class="container">
          <div class="col1">Product Name: <%=products[i].name %></div> 
          <div class="col2">Product Description: 
          <%=products[i].description %></div> 
          <div class="col3">Product Price: $<%=products[i].price %></div>
          <div class="col4">
              <form class="item">
                  <input type="hidden" id="name" name="name" value=" <%=products[i].name %>"/> 
                  <input type="hidden" id="price" value=" <%=products[i].price %>"/> 
                  <input type="submit" value="Add to Cart"/>
              </form>
          </div>
        </div>
        <%}%>
      </div>
      <div class="goToCart">
        <h3> <a id="goToCart" href="/cart">Go to Cart<%= cartCount===0?"":"("+cartCount+")"%></a></h3>
    </div>
      <%- include('footer')%>
  </body>
</html>
