<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
    href="css/<%=css%>"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Item on cart</title>
  </head>
  <body>
    <%- include('header.ejs')%>
    <h3>Items on your cart</h3>
    <table class="table table-stripped table-hover table-bordered">
      <thead>
        <tr class="bg-success">
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% for(let product in cartData) {%>
        <tr>
          <td><%= product%></td>
          <td><%= cartData[product].quantity %></td>
          <td><%= cartData[product].price %></td>
        </tr>
        <%}%>
      </tbody>
    </table>
    <%- include('footer.ejs')%>
  </body>
</html>
